.header {
    width: 100%;
    height: calc(100vh - 5rem);
    background-image: url('../images/header-background.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.header-text {
    width: 100%;
    height: 100%;
    /* font-family: 'Brush Script MT', cursive; */
    font-family: 'Edwardian Script ITC';
    font-size: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-top: 2.5rem;
}

