.cart {
    position: relative;
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.cart__div {
    flex-grow: 1;
    display: flex;
}

@media (max-device-width: 700px) {
    .cart__div {
        flex-direction: column;
    }
}