.header {
    width: 100%;
    height: calc(100vh - 5rem);
    background-image: url('/images/header-background.webp');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.header-text {
    width: 100%;
    height: 100%;
    position: relative;
    right: 20px;
    font-family: 'Edwardian Script ITC';
    font-size: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding-top: 2.5rem;
    text-shadow: 2px 1px 0px rgb(19 159 0);
}

