.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, .8);
    z-index: 5;
    display: flex;
}

.container {
    width: 90vh;
    background-color: rgb(255, 255, 255);
    margin: auto;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    background-color: rgb(152, 255, 148);
    position: relative;
    display: flex;
}


.success-icon-container {
    height: auto;
    width: 80px;
    position: relative;
    display: flex;
    justify-content: center;
}

.success-icon {
    width: 100%;
    height: 100%;
    padding: 0;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tittle-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.tittle-constat-part, .product-name{
    margin: auto 0;
}

.tittle-constat-part {
    color: rgb(3, 83, 0);
    font-size: 2rem;
}

.product-name {
    color: rgb(3, 83, 0);
    font-size: 2rem;
}






.btn-close-modal-container {
    height: auto;
    width: 60px;
}

.btn-close-modal {
    border: none;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    background-color: rgb(255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
}


.main {
    position: relative;
    flex-grow: 1;
    display: flex;
}

.product-image-container {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.product-image {
    position: relative;
    width: 80%;
    max-height: 80%;
    object-fit: contain;
    margin: 10px;
    padding: 0;
}



.btns-container {
    width: calc(50% - 20px);
    max-width: 50%;
    height: calc(100% - 10px);
    padding: 10px 10px 0 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 100px);
    grid-gap: 10px;
}



.btn-keep-buying, .btn-cart {
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
}

.btn-keep-buying {
    grid-row: 1;
    grid-column: 1;
    background-color: rgb(255, 255, 0);
    color: rgb(0, 0, 0);
}

.btn-cart {
    grid-row: 2;
    grid-column: 1;
    background-color: rgb(0, 0, 255);
    color: rgb(255, 255, 255);
}




