.nav {
    top: 0;
    position: sticky;
    width: 100%;
    height: 5rem;
    background-color: rgb(71, 128, 30);
    display: flex;
    justify-content: center;
    z-index: 4;
}



.link-container {
    --before-height: 1px;
    position: relative;
    margin: auto 1rem;
    color: rgb(255, 255, 255);
    
}

.link-container:hover {
    --before-height: 100%;
}

.link-container::before {
    content: '';
    background-color: rgb(255, 123, 51);
    height: var(--before-height);
    width: 100%;
    position: absolute;
    bottom: 0;
    transition: .2s ease all;
}


.button {
    position: relative;
    font-size: 1.7rem;
    color: inherit;
    text-decoration: none;
    padding: 2rem .5rem;
    line-height: 3rem;
}

.button-icon {
    color: rgb(255, 255, 255);
    display: none;
}







@media (max-device-width: 800px) {
    .button-icon {
        display: inline;
    }

    .button-name {
        display: none;
    }
}
