.section {
    position: relative;
    margin: 0 20%;
    padding-top: 6rem;
}

.tittle {
    --background-color: rgb(175, 175, 175);
    text-transform: uppercase;
    font-size: 20px;
}

.tittle::before {
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    background-color: var(--background-color);
}

.tittle-content {
    background-color: var(--background-color);
    padding: 0 10px;
    font-size: 20px;
}



@media (max-device-width: 800px) {
    .section {
        margin: 0 5%;
    }

}
